<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/main.css" />
    <link rel="stylesheet" href="./adminStyles/adminMain.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <title>Admin</title>
  </head>

  <body>
    <div class="admin-header">ADMIN</div>

    <iframe src="./index.html" style="width: 100%; height: 100vh"></iframe>

    <div class="wrapper">
      <button id="clear-canvas" class="admin-btn">
        <i class="fa fa-shield-halved" aria-hidden="true"></i> Clear Canvas
      </button>
      <section class="data-tables">
        <table id="drawings-data-table">
          <thead>
            <tr>
              <th>User</th>
              <th>User's Drawings</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% if (drawingData.length===0) { %>
            <tr>
              <td colspan="3">No data available</td>
            </tr>
            <% } else { %>
            <!-- Creates a Set of sessionIds from drawingData -->
            <% const uniqueSessionIds = [...new Set(drawingData.map(entry =>
            entry.sessionId))];%>
            <!-- For every sessionId, it find the respective username from UserData -->
            <% for (const sessionId of uniqueSessionIds) { %> <% const entry =
            userData.find(e => e.sessionId === sessionId); %>
            <!-- Displays each users sessionId, username, and their respective drawings -->
            <tr>
              <td>
                <strong>SessionId: <%= sessionId %></strong>
                <br />
                <br />
                <strong>Username: <%= entry.username %></strong>
              </td>
              <td>
                <canvas
                  class="session-canvas"
                  data-session-id="<%= sessionId %>"
                ></canvas>
              </td>
              <td>
                <button
                  id="delete-btn"
                  class="admin-btn"
                  data-session-id="<%= sessionId %>"
                >
                  Delete
                </button>
                <button
                  id="ban-btn"
                  class="admin-btn"
                  data-session-id="<%= sessionId %>"
                >
                  Ban
                </button>
              </td>
            </tr>
            <% }; %> <% } %>
          </tbody>
        </table>
        <table id="banned-users-table">
          <thead>
            <tr>
              <th>Banned users</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% if (bannedUsers.length === 0) { %>
            <tr>
              <td colspan="2">No banned users</td>
            </tr>
            <% } else { %> <% bannedUsers.forEach(user => { %>
            <tr>
              <td>
                <strong>SessionId: <%= user.sessionId %></strong>
                <br />
                <br />
                <strong>Username: <%= user.username %></strong>
              </td>

              <td>
                <button
                  class="admin-btn"
                  id="unban-btn"
                  data-session-id="<%= user.sessionId %>"
                >
                  Unban
                </button>
              </td>
            </tr>
            <% }); %> <% } %>
          </tbody>
        </table>
      </section>
    </div>

    <script>
      const drawingData = <%- JSON.stringify(drawingData) %>;
      const bannedUsers = <%- JSON.stringify(bannedUsers) %>;
      const userData = <%- JSON.stringify(userData)%>;
    </script>
    <script src="admin.js"></script>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
  </body>
</html>
