<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./styles/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <title>Admin</title>
  </head>

  <body>
    <div class="wrapper">
      <div class="content d-flex">
        <!-- Canvas iframe -->
        <section class="canvas-content w-100" style="height: 90vh">
          <iframe src="./index.html" style="width: 100%; height: 100%"></iframe>
        </section>
        <!-- Admin Panel -->
        <section class="w-100 d-flex flex-column" style="max-width: 32%">
          <!-- Carousel -->
          <div class="d-flex justify-content-evenly">
            <button
              class="fw-bold p-0 bg-transparent prev"
              data-carousel-button="prev"
            >
              <i class="fa-solid fa-caret-left"></i>
            </button>

            <h2 class="header" id="table-header">Drawing Data</h2>
            <button
              class="fw-bold p-0 bg-transparent next"
              data-carousel-button="next"
            >
              <i class="fa-solid fa-caret-right"></i>
            </button>
          </div>

          <!-- Data Tables -->
          <div class="data-tables overflow-auto d-flex flex-column">
            <table
              class="table table-striped table-hover table-responsive text-center align-middle"
              id="drawings-data-table"
            >
              <!--Table Head-->
              <thead>
                <tr>
                  <th class="bg-info w-25 py-2 px-3 fw-bold text-uppercase">
                    User
                  </th>
                  <th class="bg-info w-50 py-2 px-3 fw-bold text-uppercase">
                    User's Drawings
                  </th>
                  <th class="bg-info w-25 py-2 px-3 fw-bold text-uppercase">
                    Actions
                  </th>
                </tr>
              </thead>
              <!--Table Body-->
              <tbody>
                <% if (drawingData.length===0) { %>
                <tr>
                  <td colspan="3">No data available</td>
                </tr>
                <% } else { %>
                <!-- Creates a Set of sessionIds from drawingData -->
                <% const uniqueSessionIds = [...new Set(drawingData.map(entry =>
                entry.sessionId))];%>
                <!-- For every sessionId, it find the respective username from UserData -->
                <% for (const sessionId of uniqueSessionIds) { %> <% const entry
                = userData.find(e => e.sessionId === sessionId); %>
                <!-- Displays each users sessionId, username, and their respective drawings -->
                <tr class="border-bottom">
                  <!--Users Cell-->
                  <td class="align-middle text-center w-25">
                    <strong>SessionId: <%= sessionId %></strong>
                    <br />
                    <br />
                    <strong>Username: <%= entry.username %></strong>
                  </td>
                  <!--Drawings Cell-->
                  <td class="align-middle text-center w-50">
                    <div class="m-auto border border-dark w-100">
                      <canvas
                        class="session-canvas"
                        data-session-id="<%= sessionId %>"
                      ></canvas>
                    </div>
                  </td>
                  <!--Actions Cell-->
                  <td class="align-middle text-center w-25">
                    <button
                      id="delete-btn"
                      class="btn btn-danger"
                      data-session-id="<%= sessionId %>"
                    >
                      Delete
                    </button>
                    <br />
                    <br />
                    <button
                      id="ban-btn"
                      class="btn btn-danger"
                      data-session-id="<%= sessionId %>"
                    >
                      Ban
                    </button>
                  </td>
                </tr>
                <% }; %> <% } %>
              </tbody>
            </table>

            <table
              class="table table-striped table-hover table-responsive text-center align-middle"
              id="banned-users-table"
            >
              <thead>
                <tr>
                  <th class="bg-info w-25 py-2 px-3 fw-bold text-uppercase">
                    Banned users
                  </th>
                  <th class="bg-info w-25 py-2 px-3 fw-bold text-uppercase">
                    Actions
                  </th>
                </tr>
              </thead>
              <tbody>
                <% if (bannedUsers.length === 0) { %>
                <tr class="border-bottom">
                  <td colspan="2">No banned users</td>
                </tr>
                <% } else { %> <% bannedUsers.forEach(user => { %>
                <tr class="border-bottom">
                  <td class="align-middle text-center w-50">
                    <strong>SessionId: <%= user.sessionId %></strong>
                    <br />
                    <br />
                    <strong>Username: <%= user.username %></strong>
                  </td>

                  <td class="align-middle text-center w-50">
                    <button
                      class="btn btn-danger"
                      id="unban-btn"
                      data-session-id="<%= user.sessionId %>"
                    >
                      Unban
                    </button>
                  </td>
                </tr>
                <% }); %> <% } %>
              </tbody>
            </table>
          </div>
          <!-- Clear Canvas Button -->
          <button id="clear-canvas" class="admin-btn mt-auto btn btn-danger">
            <i class="fa fa-shield-halved" aria-hidden="true"></i> Clear Canvas
          </button>
        </section>
      </div>
    </div>

    <script>
      const drawingData = <%- JSON.stringify(drawingData) %>;
      const bannedUsers = <%- JSON.stringify(bannedUsers) %>;
      const userData = <%- JSON.stringify(userData)%>;
    </script>
    <script src="admin.js"></script>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
  </body>
</html>
